.cards {
    display: flex;
    flex-wrap: wrap;
    padding: 100px;
    justify-content: center;
    max-width: 1500px;
    margin: 0px auto;
  }
  
  .load-btn{
  
    text-align: center;
      padding: 10px;
      border-radius: 4px;
      background: white;
  }
  
  .user_profile-avatar {
    display: inline-block;
    overflow: hidden;
    width: 60px;
    height: 60px;
    vertical-align: middle;
    border-radius: 50%;
    margin: 10px 10px ;
    background: #eee;
  }
  
  .card {
    flex: 0 0 450px;
    margin: 10px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  }
  
  .card img {
    max-width: 100%;
  }
  
  .card .text {
    padding: 0 20px 20px;
  }
  
  .card .text>button {
    background: gray;
    border: 0;
    color: white;
    padding: 10px;
    width: 100%;
  }
  
  /* display information basic info of user above the image */
  
  .userinfo {
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: left;
  }
  
  №div_top_hypers {
    display: flex;
    align-content: center;
    padding: 0;
  }
  
  #ul_image_tags {
    margin: 0;
    padding: 0;
  }
  
  #ul_image_tags li {
    display: inline-flex;
    margin: 0;
    padding: 0;
  }
  
  #ul_image_tags li a {
    margin-left: 10px;
  }
  
  .imageInfo {
    display: block;
    padding: 10px 20px 10px 20px;
  }
  
  .likesCount {
    float: left;
  }
  
  /*.toLikebtn {
    float: right;
    background-image: url(../icons/notliked.png)
    style="font-size:24px;"
  }*/
  
  /* Pagination */
  
  .center {
    text-align: center;
  }
  
  .pagination {
    display: inline-block;
  }
  
  .far, .fas {
    font-size: 30px;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
  }
  
  .pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
  }
  
  .fa-heart {
    float: right;
    color: black;
  }

.userAvatar {
  display: inline-block;
  overflow: hidden;
  width: 60px;
  height: 60px;
  vertical-align: middle;
  border-radius: 50%;
  margin: 10px 10px;
  background: #eee;
  border: solid 1px;
}
